repos:
  - repo: https://github.com/dycw/pre-commit-hooks
    rev: 0.14.127
    hooks:
      - id: add-hooks
        args:
          - --ci-github
          - --description=Template for Python packages
          - --prettier
          - --python
          - --python-package-name-external=dycw-template-python
          - --python-package-name-internal=template-python
          - --repo-name=template-generic
          - --repo-name=template-python
          - --toml
        priority: 10
      - id: add-future-import-annotations
        priority: 20
      - id: check-versions-consistent
        priority: 40
      - id: format-pre-commit-config
        priority: 30
      - id: format-requirements
        priority: 30
      - id: replace-sequence-str
        priority: 20
      - id: run-prek-autoupdate
        priority: 10
      - id: run-uv-lock
        priority: 20
      - id: run-version-bump
        priority: 20
      - id: setup-bump-my-version
        args:
          - --python-package-name-internal=template-python
        priority: 20
      - id: setup-ci-pull-request
        args:
          - --repo-name=template-python
        priority: 20
      - id: setup-ci-push
        args:
          - --python
        priority: 20
      - id: setup-coverage
        priority: 20
      - id: setup-direnv
        args:
          - --python
        priority: 20
      - id: setup-git
        args:
          - --python
        priority: 20
      - id: setup-pre-commit
        priority: 10
      - id: setup-pyproject
        args:
          - --description=Template for Python packages
          - --python-package-name-external=dycw-template-python
          - --python-package-name-internal=template-python
        priority: 20
      - id: setup-pyright
        priority: 20
      - id: setup-pytest
        args:
          - --python-package-name-internal=template-python
        priority: 20
      - id: setup-readme
        args:
          - --repo-name=template-python
          - --description=Template for Python packages
        priority: 20
      - id: setup-ruff
        priority: 20
      - id: update-ci-action-versions
        priority: 20
      - id: update-ci-extensions
        priority: 20
      - id: update-requirements
        priority: 20
  - repo: builtin
    hooks:
      - id: check-added-large-files
        priority: 40
      - id: check-case-conflict
        priority: 40
      - id: check-executables-have-shebangs
        priority: 40
      - id: check-json
        priority: 40
      - id: check-json5
        priority: 40
      - id: check-merge-conflict
        priority: 40
      - id: check-symlinks
        priority: 40
      - id: check-toml
        priority: 40
      - id: check-xml
        priority: 40
      - id: check-yaml
        priority: 40
      - id: detect-private-key
        priority: 40
      - id: end-of-file-fixer
        priority: 20
      - id: fix-byte-order-marker
        priority: 20
      - id: mixed-line-ending
        args:
          - --fix=lf
        priority: 20
      - id: no-commit-to-branch
        priority: 40
      - id: trailing-whitespace
        priority: 20
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
        priority: 20
      - id: ruff-format
        priority: 30
  - repo: https://github.com/compwa/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        args:
          - --option
          - indent_tables=true
          - --option
          - indent_entries=true
          - --option
          - reorder_keys=true
        priority: 40
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-illegal-windows-names
        priority: 40
      - id: destroyed-symlinks
        priority: 40
      - id: pretty-format-json
        args:
          - --autofix
        priority: 20
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: unsupported
        types_or:
          - markdown
          - yaml
        priority: 30
