[build-system]
  build-backend = "uv_build"
  requires = ["uv_build"]

[dependency-groups]
  dev = ["dycw-utilities[test]", "pyright[nodejs]", "rich"]

[project]
  authors = [{ email = "d.wan@icloud.com", name = "Derek Wan" }]
  dependencies = []
  name = "template"
  readme = "README.md"
  requires-python = ">= 3.14"
  version = "0.1.0"

[tool]
  [tool.coverage]
    [tool.coverage.html]
      directory = ".coverage/html"

    [tool.coverage.report]
      exclude_also = ["@overload", "if TYPE_CHECKING:"]
      fail_under = 100.0
      skip_covered = true
      skip_empty = true

    [tool.coverage.run]
      branch = true
      data_file = ".coverage/data"
      parallel = true
