[build-system]
  build-backend = "uv_build"
  requires = ["uv_build"]

[dependency-groups]
  dev = ["dycw-utilities[test]", "pyright", "rich"]

[project]
  authors = [{ email = "d.wan@icloud.com", name = "Derek Wan" }]
  dependencies = []
  description = "Template for Python packages"
  name = "dycw-template"
  readme = "README.md"
  requires-python = ">= 3.14"
  version = "0.1.0"

[tool.uv.build-backend]
  module-name = "template_python"
  module-root = "src"
