name: pull-request
true:
  pull_request:
    branches:
      - master
jobs:
  pyright:
    name: pyright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: latest
      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
      - run: uv sync
      - run: uv run pyright
  ruff:
    name: ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
      - run: ruff check --fix
      - run: ruff format
  test:
    name: test / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: latest
      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
      - run: uv sync
      - run: uv run pytest --cov-report=term-missing:skip-covered -n=auto
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - macos-latest
          - ubuntu-latest
    timeout-minutes: 60
