name: push

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    needs:
      - tag
    environment:
      name: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          version: latest
      - uses: actions/setup-python@v5
        with:
          python-version-file: pyproject.toml
      - run: uv build
      - run: uv publish --trusted-publishing always
