name: push
true:
  push:
    branches:
      - master
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Tag the latest commit
        uses: dycw/action-tag-commit@latest
"on":
  push:
    branches:
      - master
