name: push
on:
  push:
    branches:
      - master
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Tag latest commit
        uses: dycw/action-tag@latest
        with:
          token-checkout: ${{github.token}}
          token-uv: ${{github.token}}
          user-name: github-actions-bot
          user-email: noreply@github.com
